deploy-cloudhub-v2/src/main/mule/deploy-cloudhub-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e8b674fd-20cd-46de-be4d-c24913384bde" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="deploy-cloudhub-v2Flow" doc:id="2f913c58-2936-4fe1-8340-e468580e25a9" >
		<http:listener doc:name="Listener" doc:id="56ad32c4-ab6f-4de7-a6ea-3f55b9304a24" config-ref="HTTP_Listener_config" path="/deploy"/>
		<ee:transform doc:name="Transform Message" doc:id="89af9ec1-0da4-484f-960d-86f30e9eff11" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"hello": "world"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f0e264ea-3c92-4478-98ce-6305a5670375" message="#[payload]"/>
	</flow>
</mule>
